In [43]:
import requests
import json
import numpy as np
import ast

import pandas as pd

import urllib.request, json, os
from dotenv import load_dotenv, find_dotenv

load_dotenv(find_dotenv())

df = pd.read_csv("./GroupByAggregateTest.csv")

df2 = pd.read_csv("./GroupByAggregateTest.csv")

In [44]:
df = df.drop(['Unnamed: 0','pyOutcome','pxDecisionTime'], axis=1)

In [45]:
df

    pySubjectID              pyName     pyTreatment
0             1  FixedRateLoanOffer    TC084_formal
1             1  FixedRateLoanOffer  TC085_cheerful
2             1  FixedRateLoanOffer  TC086_Humorous
3             1       HomeLoanOffer    TC066_formal
4             1       HomeLoanOffer  TC067_cheerful
..          ...                 ...             ...
74           16            Mortgage           TC035
75           17      SavingsAccount           TC003
76           18      SavingsAccount           TC003
77           19      SavingsAccount           TC003
78           20      SavingsAccount           TC003

[79 rows x 3 columns]

In [46]:
df2['CustomerID'] = df.apply(lambda x: x.to_json(), axis=1)

In [47]:
df2

,Unnamed: 0,pySubjectID,pyName,pyTreatment,pyOutcome,pxDecisionTime,CustomerID
0,0,1,FixedRateLoanOffer,TC084_formal,Impression,20250423T173454.571 GMT,"{""pySubjectID"":1,""pyName"":""FixedRateLoanOffer""..."
1,1,1,FixedRateLoanOffer,TC085_cheerful,Impression,20250415T144259.460 GMT,"{""pySubjectID"":1,""pyName"":""FixedRateLoanOffer""..."
2,2,1,FixedRateLoanOffer,TC086_Humorous,Impression,20250415T144021.268 GMT,"{""pySubjectID"":1,""pyName"":""FixedRateLoanOffer""..."
3,3,1,HomeLoanOffer,TC066_formal,Impression,20250423T173454.571 GMT,"{""pySubjectID"":1,""pyName"":""HomeLoanOffer"",""pyT..."
4,4,1,HomeLoanOffer,TC067_cheerful,Impression,20250415T144012.293 GMT,"{""pySubjectID"":1,""pyName"":""HomeLoanOffer"",""pyT..."
...,...,...,...,...,...,...,...
74,74,16,Mortgage,TC035,Pending,20250310T185620.512 GMT,"{""pySubjectID"":16,""pyName"":""Mortgage"",""pyTreat..."
75,75,17,SavingsAccount,TC003,Pending,20250310T185620.727 GMT,"{""pySubjectID"":17,""pyName"":""SavingsAccount"",""p..."
76,76,18,SavingsAccount,TC003,Pending,20250310T185614.495 GMT,"{""pySubjectID"":18,""pyName"":""SavingsAccount"",""p..."
77,77,19,SavingsAccount,TC003,Pending,20250310T185620.771 GMT,"{""pySubjectID"":19,""pyName"":""SavingsAccount"",""p..."
78,78,20,SavingsAccount,TC003,Pending,20250310T185614.484 GMT,"{""pySubjectID"":20,""pyName"":""SavingsAccount"",""p..."